.background-list {
    .bl-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .bl-t-content {
            padding-left: 5px;
            height: 26px;
            line-height: 26px;
        }

        .bl-t-operate {
            height: 26px;
            line-height: 26px;

            .button {
                margin-right: 5px;
                cursor: pointer;

                &:hover {
                    color: aquamarine;
                }
            }
        }
    }
}

.drap-line {
    border-color: #949494 !important;
}