.background-list {
    position: relative;
    z-index: 10;


    .bl-wrap {
        padding: 0 16px;
        height: 420px;
        overflow-y: auto;
    }

    .bl-operate {
        text-align: right;
        width: 50%;
        position: absolute;
        z-index: 10;
        bottom: -42px;
        right: 15px;

        .button-clearUnLike {
            margin-right: 15px;
        }
    }

    .bl-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .bl-t-content {
            padding-left: 5px;
            height: 26px;
            line-height: 26px;
        }

        .bl-t-operate {

            height: 26px;
            line-height: 26px;

            .button {
                margin-right: 5px;
                cursor: pointer;

                &:hover {
                    color: aquamarine;
                }
            }
        }
    }
}

.background-item {
    clear: both;
    background: #ffffff;
    overflow: hidden;
    border-bottom: 0 none;
    font-size: 12px;
    margin-bottom: 6px;
    box-shadow: 0px 3px 3px 0px rgba($color: #000000, $alpha: 0.05);
    // box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);

    .bi-drag {
        float: left;
        width: 26px;
        line-height: 64px;
        height: 64px;
        overflow: hidden;
        text-align: center;
        color: #c9c9c9;
        cursor: move;

        .icon-drag-vertical {
            font-size: 22px;
        }

        .icon-drag {
            font-size: 15px;
        }
    }

    // font-size: 60px;
    .bi-img {
        float: left;
        width: 64px;
        height: 64px;
        margin-right: 10px;
        // border: 1px solid #3A3A3A;
        // background-color: #333333;

        img {
            width: 64px;
            height: 64px;
            border: none;
        }
    }

    .bi-name {
        float: left;
        // line-height: 64px;
        // width: 250px;
        width: 43%;
        // height: 64px;
        text-align: left;
        line-height: 20px;
        padding-top: 14px;

        .bi-n-link {
            display: block;
            text-decoration: none;
            font-weight: bold;
            font-size: 12px;
            line-height: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .bi-n-price {
            display: block;
            font-size: 12px;
            line-height: 16px;
            color: #797979;
            font-family: 'consolas';
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .bi-price {
        line-height: 64px;
        width: 70px;
    }

    .bi-operate {
        float: right;
        width: 140px;
        text-align: right;
        padding-right: 15px;
        padding-top: 16px;
        // line-height: 64px;

        .bi-o-button {
            cursor: pointer;
            padding: 0 2px;
            display: inline-block;
            line-height: 26px;
            color: #57585a;
            margin-left: 4px;

            &:hover {
                color: #24292e;
            }

            .iconfont {
                font-size: 18px;
                vertical-align: middle;
                line-height: 18px;
            }

            em {
                vertical-align: middle;
            }

            .icon-brush {
                margin-right: 3px;
            }

            .icon-star {
                &.stared {
                    color: #ffaa09 !important;
                }
            }
        }
    }
}

.empty-info {
    height: 420px - 6px;
    background-color: #fff;
    box-shadow: 0px 3px 3px 0px rgba($color: #000000, $alpha: 0.05);

    strong {
        font-weight: bold;
    }

    .ei-icon {
        text-align: center;
        padding-top: 70px;
        margin-bottom: 32px;

        .icon-steam {
            display: inline-block;
            font-size: 148px;
            line-height: 148px;
            color: #504a6d;
        }
    }

    .ei-title {
        text-align: center;
        color: #24292e;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .ei-content {
        text-align: center;
        font-size: 12px;
        line-height: 18px;
        color: #797979;
        padding: 0 40px;
    }
}

.drap-line {
    border-color: #949494 !important;
}